.ui.segment{
	margin-bottom: 0px !important;
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.ui.menu{
	margin-top: 0 !important;
	margin-bottom: 0px !important;
}

.ui.secondary.pointing.menu .item{
	width: 50% !important;
}

.ui.top.fixed.inverted.segment {
	margin-top:0 !important;
	top:0;
	width : 100%;
	z-index : 10;
}

.ui.top.inverted.secondary.pointing.menu .item{
	width: auto !important;
}

.ui.stackable.menu{
	flex-direction: row !important;
}

body{
    font-family: 'Noto Sans CJK KR light';
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 60%;
}

.swiper-pagination{
    position: relative;
    margin-top: 15px;
}

#cardnewstitle{
    text-align: center;
    margin-top:10px;
}

#cardnewsimg{
    width: 100%;

    margin-top: 10px;
}

#selectionwrap{
    margin-top:10px
    overflow:hidden;
}



#snsupload{
    position:absolute;
    top:630px;
    left: 150px;
    font-size: 17px;
    font-family: 'Noto Sans CJK KR light';
}


#selectionwrapf{
    margin-top:10px
}

.selectionf img{
    margin: auto;
    display: block;
}

#snsuploadf{
    margin-left: 35%;
    font-size: 17px;
    font-family: 'Noto Sans CJK KR light';
}

#buttonwrapf{
    margin-top: 30px;
}


.traffic{}

.dormitory{
    margin-top:15px;
}

.laboratory{
    margin-top: 15px;
}

.drinking{
    margin-top:10px;
}

#hide{
    position :absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    opacity: 0;

}

#uploadalarm{
    position:absolute;
    top: 35%;
    left: 16%;
    z-index: 2;
    opacity: 0;

}

#yes{
    position: absolute;
    top:330px;
    left : 240px;
    z-index: 3;
    opacity: 0;

}

#cancel{
    position: absolute;
    top:330px;
    left : 290px;
    z-index: 3;
    opacity: 0;

}

.none{
    display: none;
}

#complete{
    position:absolute;
    top: 35%;
    left: 16%;
    z-index: 2;
    opacity: 0;

}

#lightbox-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(29, 31, 33, .95);
    transition: opacity .3s ease-in;
}

    #lightbox-overlay.visible {
        opacity: 1;
        pointer-events: auto;
    }

#lightbox-image {
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background: transparent url("cardnews/alram/loading.gif") 50% 50% no-repeat;
    text-indent: -99999px;
}

#TempModal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
}

#ModalBox {
	overflow: hidden;
	display: none;
	z-index: 101;
	margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: "Nanum Gothic" !important;
}

#view1{

}

#viewcont{
    position: absolute;
    width: 84%;
    top: 55px;
    left:8%;
    word-break:break-all;
    font-size:8px;
    font-family: 'Noto Sans CJK KR light';
    color:grey;
    opacity:0.9
}

.header1{
    margin-top:3px;

    font-size: 18px
}
.header2{
    text-align:center;
    font-size: 18px
}

#completeBox{
    padding-top:30px;
    padding-bottom:30px;
	overflow: hidden;
	display: none;
	z-index: 101;
	margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: "Nanum Gothic" !important;
}

#wrap1{
    position:absolute;
    top: 339px;
    left:38px;
    z-index:3;

}

#wrap2{
    position:absolute;
    top: 340px;
    left:210px;
    z-index:3;
}

#wrap3{
    position:absolute;
    top: 415px;
    left:38px;
    z-index:3;
}

#wrap4{
    position:absolute;
    top: 414px;
    left:210px;
    z-index:3;
}

#trafficimg{
    position: absolute;
    z-index:2;
    top:345px;
    left:35px;
}

#dormitoryimg{
    position: absolute;
    top:345px;
    left:205px;
}

#laboratoryimg{
    position: absolute;
    top:420px;
    left:35px;
}

#drinkingimg{
    position: absolute;
    top:417px;
    left:205px;
}

#insertcontent{
    position: absolute;
    top:500px;
}

#inputbox{
    margin-left:50px;
    width: 315px;
    height:100px;
    border: 2px solid grey;
    border-radius: 20px;
    padding:15px;
    resize: none;
    font-family: 'Noto Sans CJK KR light';
    font-size:17px;
    color:black;
}

#inputbox:focus{
    outline: none;
    border: 2.5px solid black;
}

#inputbox::placeholder {
    text-align:center;
    font-size:20px;
    padding-top:8px
}

