body{
    font-family: 'Noto Sans CJK KR light';
    font-weight: bold;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 60%;
}

.swiper-pagination{
    position: relative;
    margin-top: 15px;
}

#cardnewstitle{
    text-align: center;
    margin-top:10px;
}

#cardnewsimg{
    width: 100%;

    margin-top: 10px;
}

#selectionwrap{
    margin-top:10px
}

.selection img{
    margin: auto;
    display: block;
}
#snsupload{
    margin-top:30px;
    margin-bottom: 30px;
}
#snsupload img{
    margin: auto;
    display: block;
}

.traffic{}

.dormitory{
    margin-top:15px;
}

.laboratory{
    margin-top: 15px;
}

.drinking{
    margin-top:10px;
}

#hide{
    position :absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    opacity: 0;

}

#uploadalarm{
    position:absolute;
    top: 35%;
    left: 16%;
    z-index: 2;
    opacity: 0;

}

#yes{
    position: absolute;
    top:330px;
    left : 240px;
    z-index: 3;
    opacity: 0;

}

#cancel{
    position: absolute;
    top:330px;
    left : 290px;
    z-index: 3;
    opacity: 0;

}

.none{
    display: none;
}

#complete{
    position:absolute;
    top: 35%;
    left: 16%;
    z-index: 2;
    opacity: 0;

}

#lightbox-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(29, 31, 33, .95);
    transition: opacity .3s ease-in;
}

    #lightbox-overlay.visible {
        opacity: 1;
        pointer-events: auto;
    }

#lightbox-image {
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background: transparent url("cardnews/alram/loading.gif") 50% 50% no-repeat;
    text-indent: -99999px;
}
