body {
  background-color: aquamarine;
  margin: 0 auto;
	text-align: center;
}

/*
@media only screen and (max-width :767px)
	.ui.menu > .ui.container {
		width : 100% !important;
		margin-left : 0em !important;
		margin-right : 0em !important;
		
}
*/
#ss
{/*
	position: absolute;
	height: 200px;
	width: 400px;
	top: 50%;
	left: 50%;*/
	background-color: transparent;
	border-color : transparent;
	position: fixed;
  top: 60%;
  left: 50%;
	margin: 0 auto;
  transform: translate(-50%, -50%);
 }

.massive.ui.button{
	width : 500px !important;
	height : 100px;
}

/*-------Mainpage UI section-------*/

body, html {
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("assets/BackgroundImg.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#MainPageLogo {
	margin: 0% 5% 0% 5%;
	padding-top: 60%;
}
#MainPageComment {
	margin-top: 0;
	margin-bottom:30px;
	color: white;
}
#LogoSpacer {
	height: 60%;
}