body {
  /*background-color: aquamarine;*/
  margin: 0 auto;
	text-align: center;
}

/*
@media only screen and (max-width :767px)
	.ui.menu > .ui.container {
		width : 100% !important;
		margin-left : 0em !important;
		margin-right : 0em !important;
		
}
*/
#ss
{/*
	position: absolute;
	height: 200px;
	width: 400px;
	top: 50%;
	left: 50%;*/
	background-color: transparent;
	border-color : transparent;
	position: fixed;
  top: 60%;
  left: 50%;
	width : 80%;
	margin: 0 auto;
  transform: translate(-50%, -50%);
 }

.massive.ui.button{
	/*width : 90% !important;
	height : 30%;*/
  
	width : 500px !important;
	height : 100px;
}

/*-------Mainpage UI section-------*/

body, html {
	height: 100%;
	overflow: auto;
}

.bg {

	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;

	/* The image used */
	background-image: url("assets/BackgroundImg-min.jpg");
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
	/*filter: blur(5px);*/
}

.upbg {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: black;
	opacity: 0.75;
	width: 100%;
	height: 100%;
}

#MainPageLogo {
	margin: 0% 5% 0% 5%;
	padding-top: 50%;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}
#MainPageComment {
	margin-top: 0;
	margin-bottom:30px;
	color: white;
}

.ui.inverted.button {
	width: 80% !important;
}

/* Code of granim.js
#logo-canvas {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
*/
