.ui.segment{
	margin-bottom: 0px !important;
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.ui.menu{
	margin-top: 0 !important;
	margin-bottom: 0px !important;
}

.ui.secondary.pointing.menu .item{
	width: 50% !important;
}

.ui.top.fixed.inverted.segment {
	margin-top:0 !important;
}

.ui.top.inverted.secondary.pointing.menu .item{
	width: auto !important;
}

.ui.stackable.menu{
	flex-direction: row !important;
}

#map {
	height: 250px;
	width: 100%;
}

.ui.active.centered.inline.text.loader {
	margin-top: 100px !important;
}

.description {
	margin-top: 5px !important;
}

#variable_content {
    display : none;
}

ui.fluid.card {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.invisible {
    display:none;
}

.bold {
	/*
	font-weight: bold;
	 */
	color: #4183C4;
	width: 20% !important;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	z-index: 1;
}

#TempModal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: black;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
}

#ModalBox {
	overflow: hidden;
	display: none;
	z-index: 101;
	margin: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}