.ui.segment{
	margin-bottom: 0px !important;
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.ui.menu{
	margin-top: 0 !important;
	margin-bottom: 0px !important;
}

.ui.secondary.pointing.menu .item{
	width: 50% !important;
}

.ui.top.inverted.secondary.pointing.menu .item{
	width: auto !important;
}

.ui.stackable.menu{
	flex-direction: row !important;
}

#map {
	height: 250px;
	width: 100%;
}

.ui.active.centered.inline.text.loader {
	margin-top: 100px !important;
}

#MovingArea {
	margin-top: 5px;
}

ui.fluid.card {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.invisible {
    display:none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}